@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Love';
    src: url(); ;
    font-weight: normal;
}

:root{
    --cor0: #e909e2d3;
    --cor1: #d46bd4;
    --cor2: #d111e7cf;
    --cor3: #a021d6;

    --cor4: #4b65fa;
    --cor5: #2280d9;
    --fontpadrao:  Arial, Verdana, Helvetica, sans-serif;
    --fontdestaque: 'Bebas Neue', 'cursive'; 
}

body{
    font-family: var(--fontpadrao);
    background-color: var(--cor0);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    height: 100px;
}

#logo{
    position: relative;
    right: 100px;
    height: 80px; 
    align-items: center;
}
#navbar > ul{
    position: relative;
    left: 100px;
    display: flex;
    position: relative;
    top: 5px;
    gap: 40px;  
    font-size: 15px;
    list-style: none;
}
#navbar > ul > li > a{
    text-decoration: none;
    color: #000000;
}
#navbar > ul > li > a:hover{
    color: var(--cor2);
}
.container{
    margin: 0;
    padding: 0;
    min-width: 400px;
    max-width: 100%;
}
.conteudo{
    margin: auto;
    width: 1000px;
    min-width: 400px;
    max-width: 100%;
}
#imagens{
    display: flex;
    height: 300px;
    min-width: 400px;
    max-width: 100%;

}
.img{
    height: 400px;
}