@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Love';
    src: url();
    ;
    font-weight: normal;
}

:root {
    --cor0: #e909e2d3;
    --cor1: #d46bd4;
    --cor2: #d111e7cf;
    --cor3: #a021d6;

    --cor4: #4b65fa;
    --cor5: #2280d9;
    --fontpadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontdestaque: 'Bebas Neue', 'cursive';
}

body {
    font-family: var(--fontpadrao);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    height: 100px;
}

#logo {
    position: relative;
    right: 100px;
    height: 80px;
    align-items: center;
}

#navbar>ul {
    position: relative;
    left: 100px;
    display: flex;
    position: relative;
    top: 5px;
    gap: 40px;
    font-size: 15px;
    list-style: none;

}

#navbar>ul>li>a {
    text-decoration: none;
}

#navbar>ul>li>a:hover {
    color: var(--cor2);
}

.container {}

.conteudo {
    background-color: aliceblue;
    height: 00px;
}

#imagens {
    display: flex;
    margin: auto;
    justify-content: center;
    position: relative;
    top: 10px;
    left: 25px;
    align-items: center;
    height: 420px;
    width: 100%;

}

.img {
    margin: auto;
    border: #d46bd4 solid 2px;
    height: 350px;
}

.img:hover {
    transform: rotate(5deg);
    cursor: pointer;

}

.texto {
    padding: 40px;
    text-align: justify;
    position: relative;
    top: 120px;
    left: 100px;
}

#coração1 {
    position: relative;
    top: 200px;
    right: 550px;
}

.content-coracao {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 50px auto;
    -webkit-animation: pulsa 1s linear 0s infinite;
}

@keyframes pulsa {
    0% {
        transform: scale(0.9) rotate(0deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }

    70% {
        transform: scale(1.1) rotate(0deg);
    }

    80% {
        transform: scale(1.2) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.square {
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    background: #e71940;
    position: absolute;
    top: 30px;
}

.circle:after,
.circle:before {
    content: "";
    position: absolute;
    width: 54px;
    height: 55px;
    border-radius: 50%;
    background: #e71940;
}

.circle:after {
    left: 5px;
    top: 6px;
}

.circle:before {
    right: 5px;
    top: 6px;
}

@media screen and (max-width: 972px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: aliceblue;
        height: 100px;
        width: 100%;
    }

    #logo {
        position: relative;
        right: 100px;
        height: 10px;
        align-items: center;
    }

    #navbar>ul>li>a {
        position: relative;
        right: 100px;
    }

    .container {
        width: 800px;
    }

    .conteudo {
        background-color: rgba(255, 255, 255, 0.742);
        height: 500px;
    }

    #imagens {
        display: flex;
        margin: auto;
        justify-content: center;
        position: relative;
        top: 10px;
        left: 25px;
        align-items: center;
        height: 40px;
        width: 100px;

    }

    .img {
        margin: auto;
        border: #d46bd4 solid 2px;
        height: 200px;
    }
    #coração1 {
        position: relative;
        top: 200px;
        right: 80px;
    }

}
@media screen and (max-width: 564px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: aliceblue;
        height: 100px;
        width: 100%;
    }

    #logo {
        position: relative;
        right: 100px;
        height: 10px;
        align-items: center;
    }

    #navbar>ul>li>a {
        position: relative;
        right: 100px;
    }

    .container {
        width: 500px;
    }

    .conteudo {
        background-color: rgba(255, 255, 255, 0.742);
        height: 500px;
    }

    #imagens {
        display: flex;
        margin: auto;
        justify-content: center;
        position: relative;
        top: 10px;
        left: 25px;
        align-items: center;
        height: 40px;
        width: 150px;

    }

    .img {
        margin: auto;
        border: #d46bd4 solid 2px;
        height: 150px;
    }

}
